body {
  background: #333;
  color: #ccc;
  font-size: 16pt;
  width: 2000px;
}

#start-match {
  background: #333;
  color: #eee;
  font-size: 20pt;
  font-family: "Arial Black";
  padding: 6px 30px;
}

#match select.player {
  background: #111;
  color: #eee;
  font-size: 20pt;
  font-family: "Arial Black";
}

#match-state, #match-state table {
  width: 100%;
}

#match-state table .player-name {
  width: 200px;
  overflow: hidden;
}

#match-state .score {
  width: 80px;
  padding-right: 15px;
  text-align: right;
}

#match-state .gains, #match-state .hands {
  padding: 10px 0;
}

#match-state .gains > .hand, #round-results .hands .hand {
  display: inline-block;
  overflow: hidden;
  margin: 0;
  color: transparent;
}

#match-state .gains > .hand {
  height: 60px;
}

#match-state .gains > .hand.gu {
  width: 2px;
  background: #f55;
}

#match-state .gains > .hand.choki {
  width: 4px;
  background: #ee2;
}

#match-state .gains > .hand.pa {
  width: 5px;
  background: #66f;
}

#match-state .gains > .hand.draw {
  width: 1px;
  background: #444;
}

#round-results .hands > div {
  line-height: 16px;
}

#round-results .hands > div.draw {
  line-height: 12px;
}

#round-results .hands .hand {
  width: 4px;
  height: 10px;
}

#round-results .hands > div.draw .hand.draw {
  height: 6px;
}

#round-results .hands .hand.gu.win {
  background: #f55;
}

#round-results .hands .hand.choki.win {
  background: #ee2;
}

#round-results .hands .hand.pa.win {
  background: #66f;
}

#round-results .hands .hand.gu.draw {
  background: #822;
}

#round-results .hands .hand.choki.draw {
  background: #661;
}

#round-results .hands .hand.pa.draw {
  background: #228;
}