body {
  background: #333;
  color: #ccc;
  font-size: 16pt;
  width: 2000px;
}

#start-match {
  background: #333;
  color: #eee;
  font-size: 20pt;
  font-family: "Arial Black";
  padding: 6px 30px;
}

#match select.player {
  background: #111;
  color: #eee;
  font-size: 20pt;
  font-family: "Arial Black";
}

#match-state .player > div {
  display: inline-block;
}

#match-state .stack-container {
  overflow-x: scroll;
  width: 1200px;
}

#match-state .stack {
  white-space: nowrap;
}

#match-state {
  width: 100%;
  position: relative;
}

#match-state .player > div {
  overflow: hidden;
  line-height: 300px;
  font-size: 20pt;
}

#match-state .player .player-name {
  width: 200px;
}

#match-state .player .score {
  width: 100px;
  padding-right: 15px;
  text-align: right;
}

#match-state .player .gains, #match-state .hands {
  padding: 10px 0;
}

#match-state .player .gains > .hand, #round-results .hands .hand {
  display: inline-block;
  overflow: hidden;
  margin: 0;
  color: transparent;
}


#view {
  position: absolute;
  top: 0px;
  left: 330px;
  width: 1700px;
  overflow-x: scroll;
}


#round-results {
  margin-left: 330px;
}

#round-results .hands > div {
  line-height: 16px;
}

#round-results .hands > div.draw {
  line-height: 12px;
}

#round-results .hands .hand {
  width: 4px;
  height: 10px;
}
